.shopList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopListName {
  color: black;
}

.shopLitsColor {
  color: black;
}

.shopListPrice {
  color: red;
}

.shopListImg {
  width: 90px;
  height: 90px;
}
